@model MealPlanner.Models.Models.DashboardModel

<h3>Featured Meals</h3>
<div id="featuredMeals" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#featuredMeals" data-slide-to="0" class="active"></li>
        @for (int i = 1; i < Model.FeaturedMeals.Count; i++)
        {
            <li data-target="javascript:void(0)" data-slide-to="@i"></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @{ int count = 0; }
        @foreach (var meal in Model.FeaturedMeals)
        {
            var divClass = count == 0 ? "active" : "";
            <div class="item @divClass">
                @if (meal.Image.Data != null)
                {
                    <img src="data:image;base64,@System.Convert.ToBase64String(meal.Image.Data)" />
                }
                else
                {
                    <img src="@meal.Image.DataUrl" />
                }
                <div class="carousel-caption">
                    <h3>@meal.Name</h3>
                </div>
            </div>
            count++;
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#featuredMeals" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#featuredMeals" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>