@model IEnumerable<MealPlanner.Data.Models.Recipe>

<h1>Meal Planner</h1>
<hr />

<div id="featuredMealsDiv">
    
</div>

<script>
    $(document).ready(function () {
        $('#featuredMealsDiv').load('/Home/Dashboard', function () {
            
        })
    })
</script>