@model MealPlanner.Models.Models.DashboardModel

<div class="row">
    <div class="col-xs-8 col-sm-11">
        <h3 style="margin-top: 5px;">Meal Plan</h3>
    </div>
    <div class="col-xs-4 col-sm-1">
        <a asp-action="ClearMealPlans" class="btn btn-sm btn-danger" onclick="return confirm('Clear all meal plans?');" style="float: right;">Clear All</a>
    </div>
</div>
<div class="row">
    @foreach (var meal in Model.MealPlans)
    {
        var recipeName = meal.Recipe.Name;
        foreach (var side in meal.SideRecipes)
        {
            recipeName += ", " + side.Recipe.Name;
        }
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <a href="javascript:showSelectMealModal('@meal.Id')" class="thumbnail">
                @if (meal.Recipe.Image.Data != null)
                {
                    <div class="frontpage_square" style="background-image: url(data:image;base64,@System.Convert.ToBase64String(meal.Recipe.Image.Data));">
                        <h4 class="mealTitle">@recipeName</h4>
                    </div>
                }
                else
                {
                    <div class="frontpage_square" style="background-image: url(@meal.Recipe.Image.DataUrl);">
                        <h4 class="mealTitle">@recipeName</h4>
                    </div>
                }
            </a>
        </div>
    }
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <a href="javascript:showSelectMealModal('null')" class="thumbnail">
            <div class="frontpage_square">
                <div class="frontpage_square_container">
                    <h1><span style="font-size: 12vh; color: #2c3e50"><i class="glyphicon glyphicon-plus"></i></span><br /><span style="font-size: 3vh;">Add a Meal</span></h1>
                </div>
            </div>
        </a>
    </div>
</div>