@model MealPlanner.Models.Entities.ShoppingListItem

<div class="modal fade" tabindex="-1" role="dialog" id="addShoppingItemModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <form asp-controller="ShoppingList" asp-action="AddItem" method="post">
                <div class="modal-body">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required />

                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" placeholder="Optional" type="number" step=".01" />

                    <label asp-for="Unit" class="control-label"></label>
                    <input asp-for="Unit" class="form-control" placeholder="Optional" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>