@model IEnumerable<MealPlanner.Models.Models.RecipeDrillInModel>

<table class="table table-condensed table-striped" style="width: 100%;">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Recipes" asp-route-id="@item.RecipeId">
                        @Html.DisplayFor(modelItem => item.RecipeName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalQuantity) @Html.DisplayFor(modelItem => item.UnitName)
                </td>
            </tr>
        }
    </tbody>
</table>