<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal Planner</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Flatly.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="loading" class="centered" style="z-index: 5000; display:none;">
        <img src="~/images/loading.gif" />
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Meal Planner</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Recipes" asp-action="Index">Recipes</a></li>
                    <li><a asp-area="" asp-controller="Ingredients" asp-action="Index">Ingredients</a></li>
                    <li><a asp-area="" asp-controller="ShoppingList" asp-action="NewShoppingList">Grocery List</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Stores" asp-action="Index">Stores</a></li>
                            <li><a asp-area="" asp-controller="Units" asp-action="Index">Units</a></li>
                            <li><a asp-area="" asp-controller="RecipeCategories" asp-action="Index">Recipe Categories</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Today.Year - Jon Loeffelholz</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>